<div class="jumbotron">
	<div class="container">
		<h1>About us</h1>
		<p>
			This is a Pinteresting app based on Ruby on Rail.<br>
			You can browse the pins uploaded by users; <br>
			and you can upload your favorite pictures if you sign up and log in. <br>
			<p><em>Working on more features...</em></p>
		</p>
		<p>By <%= link_to 'Shawn Duan (Wenxiao)', 
		'https://www.linkedin.com/in/shawnwduan',
		:target => '_blank' %></p>
  </div>
</div>